@if (loading()) {
  <div class="loading">
    <app-loading-spinner></app-loading-spinner>
  </div>
} @else if (article(); as art) {
  <article class="article-page">

    <div class="article-layout">
      <div class="article-content">

        <div class="floating-category" [ngClass]="art.category">
          {{ art.category | uppercase }}
        </div>

        <header class="article-header">
          <a class="back-link" routerLink="/explorar">
            <span class="arrow">←</span> Volver al repositorio
          </a>
          <h1>{{ art.title }}</h1>
          <div class="article-meta">
            <div class="meta-item"><span class="icon">📅</span> {{ art.date }}</div>
            <span class="dot"></span>
            <div class="meta-item">
              <span class="icon">⏱️</span> {{ art.readingTime | readingTime }}
            </div>
          </div>
        </header>

        <section class="body-section">
          @if (art.excerpt) {
            <div class="article-excerpt-container">
              <p class="article-excerpt">{{ art.excerpt }}</p>
            </div>
          }

          <div class="article-body-text">
            @if (safeContent()) {
              <div [innerHTML]="safeContent()"></div>
            } @else {
              <p>No hay contenido disponible.</p>
            }
          </div>
        </section>

      </div>

      <aside class="article-sidebar">
        <div class="sidebar-card">
          <h3>COMPARTIR</h3>
          <div class="share-buttons">
            <button (click)="shareTwitter()">𝕏 Twitter</button>
            <button (click)="shareLinkedIn()">in LinkedIn</button>
            <button (click)="copyLink()">🔗 Copiar</button>
          </div>
        </div>

        @if (art.category) {
          <div class="sidebar-card">
            <h3>CATEGORÍA</h3>
            <div class="floating-category" [ngClass]="art.category">
              {{ art.category | uppercase }}
            </div>
          </div>
        }
      </aside>
    </div>
    @if (showCopyToast()) {
  <div class="copy-toast">
    ✅ Link copiado al portapapeles
  </div>
}
  </article>
}
