.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.spinner {
  width: 32px;
  height: 32px;

  border: 3px solid var(--color-border);
  border-top-color: var(--color-primary);

  border-radius: 50%;
  animation: spin 0.7s linear infinite;
}

/* Animación */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}